[submodule "third_party/json-spirit"]
	path = third_party/json-spirit
	url = git://gitorious.org/json-spirit/json-spirit.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git://ogl-math.git.sourceforge.net/gitroot/ogl-math/ogl-math
[submodule "third_party/insrc"]
	path = third_party/insrc
	url = git://github.com/rlane/insrc.git
