*.swp
*.o
*.d
*.tga
core
callgrind.out*

Makefile
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
include/config.h
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
depcomp
autom4te.cache/*

*.lo
*.la
*.a
autoscan.log
*.stamp
.deps
.libs
*.in
compile
config.h
stamp-h1

dedicated/oort_dedicated*
ui/oort*
sim/oort.vapi
README

dedicated/oort-dedicated.c
sim/bullet.c
sim/beam.c
sim/game.c
sim/physics.c
sim/oort.h
sim/scenario.c
sim/ship_class.c
sim/ship.c
sim/task.c
sim/team.c
ui/renderer.c
ui/textures.c
ui/oort.c
sim/paths.c
ui/log.c
ui/model.c
ui/shader.c
vector/mat4f.c
vector/vector_gen.h
ui/particle_program.c
ui/ship_program.c
ui/beam_program.c
ui/tail_program.c
ui/perf.c
ui/batch.c
ui/batches/ship.c
ui/batches/particle_batch.c
ui/batches/tail.c
ui/batches/boundary.c
ui/batches/bullet.c

sim/liboort-1.0.a
luajit_build/luajit-stamp
