*.swp
*.o

Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
.deps/
.dirstamp

core
*.trace
vgcore*

oort_headless
oort_sdl
