*.swp
*.o
*.d
*.tga
core
callgrind.out*

Makefile
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
include/config.h
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
depcomp
autom4te.cache/*

*.lo
*.la
*.a
autoscan.log
*.stamp
.deps
.libs
*.in
compile
config.h
stamp-h1

dedicated/risc_dedicated*
ui/risc_ui*
sim/risc.vapi
README

dedicated/risc-dedicated.c
sim/bullet.c
sim/game.c
sim/physics.c
sim/risc.h
sim/scenario.c
sim/ship_class.c
sim/ship.c
sim/task.c
sim/team.c
ui/renderer.c
ui/risc.c
sim/paths.c

sim/librisc-1.0.a
